$orange: #FF862F;
$orange-light: #FFBD59;
$orange-active: #BB370E;

$gray: #999999;
$gray-light: #F7F7F7;
$gray-hover: #EAEAEA;

$violet: #A65CF0;
$violet-hover: #C998FB;
$violet-focus: #EBD1FF;
$violet-active: #7033AC;
