.header__strip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: $gray-light;
  z-index: 5;
  @media screen and (max-width: 1440px) {
    top: 58px;
  }
  @media screen and (max-width: 767px) {
    top: 0;
  }
}

.header {
  padding-bottom: 32px;
  position: relative;
  display: grid;
  grid-template-rows: 50px 91px 58px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "choosecity choosecity tel tel . nav1 nav1 nav1 nav1 nav1 nav1 nav1"
  "logo logo . nav2 nav2 nav2 nav2 nav2 nav2 nav2 nav2 nav2"
  "form form form form form form form form form form client client";
  align-items: center;
  z-index: 10;

  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 58px 50px 92px 60px;
    grid-template-areas:
    "choosecity choosecity . . . . . tel tel"
    "nav1 nav1 nav1 nav1 nav1 nav1 nav1 client client"
    "logo logo nav2 nav2 nav2 nav2 nav2 nav2 nav2"
    "form form form form form form form form form";
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 58px 50px 92px 60px;
    grid-template-areas:
    "choosecity choosecity . . tel tel"
    "nav1 nav1 nav1 nav1 nav1 nav1"
    "burger . logo logo client client"
    "form form form form form form";
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 15px;
    grid-template-rows: 50px 43px 50px 50px 168px;
    grid-template-areas:
    ". logo logo logo logo ."
    "choosecity choosecity choosecity choosecity . ."
    "tel tel tel tel . ."
    "burger . . client client client"
    "form form form form form form";
  }

  &__burger {
    display: none;
    grid-area: burger;
    @media screen and (max-width: 1023px) {
      display: block;
      width: 24px;
      height: 24px;
    }
    @media screen and (max-width: 767px) {
      padding-left: 4px;
    }
  }

  &__choosecity {
    grid-area: choosecity;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      padding-top: 14px;
    }
  }

  &__choisertext {
    width: 128px;
    @media screen and (max-width: 1023px) {
      width: 136px;
    }
    @media screen and (max-width: 767px) {
      width: 149px;
    }
  }

  &__select {
  }

  &__tel {
    grid-area: tel;
    color: $orange;
    @media screen and (max-width: 1440px) {
      justify-self: end;
      transform: translateX(5px);
    }
    @media screen and (max-width: 767px) {
      justify-self: start;
    }
  }

  &__telwrapper {
    display: flex;
    transform: translateX(-5px);
    transition: all .3s ease;
    font-size: 14px;
    &:hover {
      color: $orange-light;
    }
    &:focus {
      background-color: #FFF5D1;
    }
    &:active {
      color: $orange-active;
    }
  }

  &__telsvg {
  }

  &__number {
    color: inherit;
  }

  &__navigation1 {
    grid-area: nav1;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__list1 {
    padding-left: 37px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $gray;
    @media screen and (max-width: 1440px) {
      padding-left: 0;
      padding-right: 31px;
    }
    @media screen and (max-width: 1023px) {
      padding-right: 0;
    }
  }

  &__logo {
    grid-area: logo;
    @media screen and (max-width: 1023px) {
      justify-self: center;
    }
  }

  &__navigation2 {
    grid-area: nav2;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__list2 {
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1440px) {
      padding-left: 39px;
      padding-right: 2px;
    }
  }

  &__form {
    position: relative;
    display: flex;
    grid-area: form;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__categselect {
  }

  &__client {
    grid-area: client;
    justify-self: end;
  }
}
.list1 {

  &__link {
    font-size: inherit;
    color: inherit;
    transition: all .3s ease;
    &:focus {
      background-color: $violet-focus;
      outline: none;
    }
    &:hover {
      color: $violet;
    }
    &:active {
      color: $violet-active;
      background-color: transparent;
    }
  }
}
.list2 {

  &__link {
    font-size: inherit;
    color: inherit;
    transition: all .3s ease;
    &:focus {
      background-color: $violet-focus;
      outline: none;
    }
    &:hover {
      color: $violet;
    }
    &:active {
      color: $violet-active;
      background-color: transparent;
    }
  }
}
.input {
  padding: 20px 59px;
  width: 765px;
  border: 2px solid $gray-light;
  border-radius: 10px 0px 0px 10px;
  background-color: $gray-light;
  transition: all .3s ease;
  &::-webkit-input-placeholder {color: $gray;}
  &::-moz-placeholder {color: $gray;}
  &::-moz-placeholder {color: $gray;}
  &:-moz-placeholder {color: $gray;}
  &:-ms-input-placeholder {color: $gray;}
  &:focus {
    border-color: $violet;
    outline: none;
  }
  &:hover {
    background-color: $gray-hover;
  }
  &:active + .input__search {
    color: $violet;
  }
  @media screen and (max-width: 1440px) {
    width: 68.5%;
  }
  @media screen and (max-width: 1023px) {
    width: 69.5%;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 10px;
    padding: 19px 57px;
  }

  &__search {
    position: absolute;
    top: 35%;
    left: 3%;
    color: #999;
    @media screen and (max-width: 1023px) {
      left: 5%;
    }
    @media screen and (max-width: 767px) {
      top: 15%;
    }
    @media screen and (max-width: 320px) {
      left: 11%;
    }
  }
  &__button {
    position: absolute;
    display: block;
    top: 22%;
    right: 31%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    &:disabled {
      pointer-events: none;
    }
    &:disabled .input__circle {
      stroke: #999;
    }
    &:disabled .input__path {
      stroke: #999;
    }
    &:focus .input__circle {
      fill: $violet-hover;
    }
    &:focus .input__path {
      stroke: #fff;
    }
    &:hover .input__path {
      stroke: #fff;
    }
    &:hover .input__circle {
      fill: $violet;
    }
    &:active .input__circle {
      fill: $violet-active;
      stroke: $violet-active;
    }
    &:active .input__path {
      stroke: #fff;
    }
    @media screen and (max-width: 1440px) {
      right: 34%;
    }
    @media screen and (max-width: 767px) {
      top: 11%;
      right: 9%;
    }
  }

  &__arrow {
  }

  &__circle {
    transition: all .3s ease;
    stroke: $violet;
  }

  &__path {
    transition: all .3s ease;
    stroke: $violet;
  }
}
.client {
  display: flex;
  &__user {
    margin-right: 32px;
    color: $violet;
    transition: all .3s ease;
    &:focus {
      background-color: $violet-hover;
    }
    &:hover {
      color: $violet-hover;
      background-color: transparent;
    }
    &:active {
      color: $violet-active;
      background-color: transparent;
    }
    @media screen and (max-width: 767px) {
      margin-right: 29px;
    }
  }

  &__userSvg {
  }

  &__cart {
    color: $violet;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    &:focus {
      background-color: $violet-hover;
    }
    &:hover {
      color: $violet-hover;
      background-color: transparent;
    }
    &:active {
      color: $violet-active;
      background-color: transparent;
    }
  }

  &__cartnum {
    padding-top: 2px;
    width: 14px;
    height: 15px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    vertical-align: center;
    background-color: $orange;
    border-radius: 50%;
    transform: translateX(3px);
  }

  &__cartSvg {
  }
}

.choices {
  width: 140px;
  height: 20px;
  transition: all .3s ease;
  &:focus {
    background-color: $violet-focus;
  }
  &:hover .choices__item--selectable {
    color: $violet-hover;
  }
  &:hover .choices__item--choice {
    color: #333;
  }

  &:hover :after {
    color: $violet-hover;
  }
  &:active {
    color: $violet-active;
    background-color: transparent;
  }
}

.choices__inner {
  padding: 0;
  background-color: transparent;
  border: none;
  color: $violet;
}

.choices__item {
  font-size: 16px;
}

.choices__item--choice {
  font-size: 14px;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown {
  padding-right: 0;
  border: 2px solid #F7F7F7;
  word-break: normal;
  top: 110%;
}

.choices[data-type*=select-one]:after {
  content: url('../../public/img/header/choose_arrow.svg');
  border: none;
  top: 16%;
  left: 57%;
  @media screen and (max-width: 767px) {
    left: 66%;
  }
}

.choices[data-type*=select-one].is-open:after {
  transform: rotate(180deg);
  top: 140%;
  left: 68%;
  @media screen and (max-width: 1023px) {
    left: 70%;
  }
  @media screen and (max-width: 767px) {
    left: 80%;
  }
}

.choices-category {
  max-width: 300px;
  height: 62px;
  width: 100%;
  transition: all .3s ease;
  &:focus .choices__inner-category {
    background-color: $violet-focus;
    border-color: $violet;
  }
  &:hover :after{
    color: $violet-hover;
  }
  &:active .choices__inner-category {
    color: $violet-active;
    background-color: transparent;
  }
  @media screen and (max-width: 1440px) {
    width: 31.5%;
    max-width: 100%;
  }
  @media screen and (max-width: 1023px) {
    width: 30.5%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.choices__inner-category {
  padding-top: 20px;
  padding-left: 26px;
  height: 62px;
  border: 2px solid #F7F7F7;
  border-radius: 0px 10px 10px 0px;
  transition: all .3s ease;
  &:hover {
    border-color: $violet;
  }
  @media screen and (max-width: 1023px) {
    padding-left: 31px;
  }
  @media screen and (max-width: 767px) {
    border-radius: 10px;
  }
}

.choices-category[data-type*=select-one]:after {
  left: 84%;
  top: 42%;
  @media screen and (max-width: 1023px) {
    left: 76%;
  }
  @media screen and (max-width: 767px) {
    top: 40%;
    left: 84%;
  }
}

.choices-category[data-type*=select-one].is-open:after {
  transform: rotate(180deg);
  top: 82%;
  left: 88.5%;
  @media screen and (max-width: 1023px) {
    left: 82.5%;
  }
  @media screen and (max-width: 767px) {
    left: 89%;
  }
}
