.header__strip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: $gray-light;
  z-index: 5;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 50px 91px 92px;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 32px;
  align-items: center;
  z-index: 10;

  &__chooseCity {
    grid-area: choosecity;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
  }

  &__choiserText {
    margin-right: 10px;
    width: 174px;
  }

  &__select {
  }

  &__tel {

    grid-area: tel;
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    color: $orange;
  }

  &__telwrapper {
    padding-top: 2px;: 2px;
    display: flex;
    width: fit-content;
    // outline: none;
    &:hover {
      color: $orange-light;
    }
    &:focus {
      background-color: #FFF5D1;
    }
    &:active {
      color: $orange-active;
    }
  }

  &__telsvg {
  }

  &__number {
    color: inherit;
  }

  &__navigation1 {
    grid-area: nav1;
    grid-column: 6 / 13;
    grid-row: 1 / 2;

  }

  &__list1 {
    display: flex;
    justify-content: space-between;

    font-size: 14px;
    color: $gray;
  }

  &__logo {
    grid-area: logo;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  &__navigation2 {
    grid-area: nav2;
    grid-row: 2 / 3;
    grid-column: 4 / 13;
  }

  &__list2 {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    position: relative;
    grid-area: form;
    grid-column: 1 / 8;
    grid-row: 3 / 4;
  }

  &__categSelect {
    grid-area: category;
    grid-column: 8 / 11;
    grid-row: 3 / 4;
  }

  &__client {
    grid-area: client;
    grid-column: 11 / 13;
    grid-row: 3 / 4;
    justify-self: end;
  }
}
.list1 {

  &__link {
    font-size: inherit;
    color: inherit;
  }
}
.list2 {

  &__link {
    font-size: inherit;
    color: inherit;
  }
}
.input {
  padding: 20px 59px;
  width: 765px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background-color: $gray-light;
  &::-webkit-input-placeholder {color: $gray;}
  &::-moz-placeholder {color: $gray;}
  &::-moz-placeholder {color: $gray;}
  &:-moz-placeholder {color: $gray;}
  &:-ms-input-placeholder {color: $gray;}

  &__search {
    position: absolute;
    top: 35%;
    left: 3%;
  }
  &__button {
    position: absolute;
    display: block;
    top: 20%;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__arrow {
  }
}
.client {
  display: flex;
  &__user {
    margin-right: 32px;
  }

  &__userSvg {
  }

  &__cart {
    display: flex;
    align-items: center;
  }

  &__cartNum {
    padding-top: 2px;
    width: 14px;
    height: 15px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    vertical-align: center;
    background-color: $orange;
    border-radius: 50%;
  }

  &__cartSvg {
  }
}

.choices {
  width: 140px;
  height: 20px;
  &:hover .choices__item {
    color: $violet-hover;
  }
  &:hover :after{
    color: $violet-hover;
  }
}

.choices__inner {
  padding: 0;
  background-color: transparent;
  border: none;
  color: $violet;
}

.choices__item {
  font-size: 16px;
}

.choices__item--choice {
  font-size: 14px;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown {
  padding-right: 0;
  border: 2px solid #F7F7F7;
  word-break: normal;
}

.choices[data-type*=select-one]:after {
  content: url('../../public/img/header/choose_arrow.svg');
  border: none;
  top: 5%;
  left: 80%;
}

.choices[data-type*=select-one].is-open:after {
  transform: rotate(180deg);
  top: 110%;
  left: 97%;
}

.choices-category {
  grid-area: category;
  grid-column: 8 / 11;
  grid-row: 3 / 4;
  max-width: 300px;
  height: 60px;
  width: 100%;
}

.choices__inner-category {
  margin-bottom: 15px;
  padding: 15px;
  height: 58px;
  border: 2px solid #F7F7F7;
  border-radius: 0px 10px 10px 0px;
  transform: translateY(13px);
}

.choices-category[data-type*=select-one]:after {
  top: 57%;
}

.choices-category[data-type*=select-one].is-open:after {
  transform: rotate(180deg);
  top: 95%;
  left: 85%;
}
